# Java
.gitignore
/.classpath
.classpath
/.project
.project
/*.settings
.settings/
/build
.vscode
.idea
users.txt



src/main/java/by/petrovich/storage/main.java
src/main/webapp/WEB-INF/pages/main.html

main.html